.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;

  .title a {
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    display: inline-block;
  }

  .sub {
    color: #ddd;
    margin-top: 0.6em;
    font-size: 0.8em;
  }
}

.main-wrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.wp-block-table {
  table {
    td {
      border: 1px solid #eee;
      vertical-align: top;
      padding: 0.5em;

      code {
        white-space: nowrap;
      }
    }
  }
}

.wp-block-image {
  img {
    max-width: 100%;
  }
}

.wp-block-syntaxhighlighter-code,
code {
  color: #e83e8c;
  background: #eee;
  padding: 0.5em;
  display: block;
}

.aligncenter {
  text-align: center;
}
